.product_container{
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 1px solid black;
}

.product{
    width: 150px;
    height: 150px;
    padding: 0;
}

.pic{
    width: 150px;
    height: 150px;
}
